body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6c8ac;
}

.board {
    width: 400px;
    height: 400px;
    background-color: #cdc1b5;
    border: solid 6px #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #96887bff;
}

button{
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #8f7a66;
    border: 5px solid #bbada0;
    color: #f9f6f2;
    font-size: 20px;
    cursor: pointer;
}
h2, #score {
    font-size: 30px;
    color: #eee4da;
    background-color: #8f7a66;
    width: 200px;
    margin: 20px auto;
    border-radius: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 0px;
    margin-left: 5px;
}

.undo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.undo-bonus-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.remainUndoBonus {
    width: 40px;
    height: 40px;
    margin: 25px 2px;
    border: 5px solid #bbada0;
}

.active{
    background-color: #8f7a66;
}

.remove{
    background-color: #e6c8ac;
}